ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: solid 1px #555555;
}

li {
    text-align: center;
    border-bottom: solid 1px #555555;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}



