html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.faq-box {
    width: 35rem;
    height: 45rem;
    background-color: orange;
    border: 2.5px solid black;

    padding: 0 1rem 1.5rem 1rem;
}

header {
    text-align: center;
    display: flex;
    justify-content: left center;
    padding: 5px;
    border-bottom: 2px solid black;
}

.main-container {
    background-color: rgb(247, 160, 0);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner-container {
    padding: 0.6rem;
}

.faq div p {
    display: none;
}